import { Injectable } from '@nestjs/common';
import { FixedContext } from '@vodyani/core';

@Injectable()
export class {{ upperName }}Consumer {

  @FixedContext
  private async subscribe() {
    //
  }
}
