import { Expose } from '@vodyani/class-decorator';
import { ApiProperty, SwaggerEntity } from '@vodyani/swagger';

@SwaggerEntity
export class {{ upperName }}Vo {
  @Expose()
  @ApiProperty({ name: 'id', type: Number, required: true, example: 'id', description: 'id' })
  public id: number;

  @Expose()
  @ApiProperty({ name: 'name', type: String, required: true, example: 'name', description: 'name' })
  public name: string;
}