import { ApiTags } from '@vodyani/swagger';
import { Controller, Get } from '@vodyani/core';

import { ApiResponseVo } from '@/core/decorator';

@ApiTags('{{ name }}')
@Controller('{{ name }}')
export class {{ upperName }}Controller {
  constructor(
    private readonly service: any,
  ) {}

  @Get()
  @ApiResponseVo()
  public async find() {
    const result = await this.service.find();
    return result;
  }
}