import { Controller, Get } from '@nestjs/common';
import { Post } from '@vodyani/core';
import { ApiTags } from '@vodyani/swagger';

import { ApiResponseVo } from '@/core/decorator';

@ApiTags('{{ name }}')
@Controller('{{ name }}')
export class {{ upperName }}Controller {
  @Get()
  @ApiResponseVo()
  public async get() {
    return {};
  }

  @Post()
  @ApiResponseVo()
  public async post() {
    return {};
  }
}