import { Controller, Get } from '@nestjs/common';
import { ApiTags } from '@vodyani/swagger';

import { ApiResponseVo } from '@/core/decorator';

@ApiTags('{{ name }}')
@Controller('{{ name }}')
export class {{ upperName }}Controller {
  @Get()
  @ApiResponseVo()
  public async get() {
    return {};
  }
}