import { DomainRegister } from '@vodyani/core';

@DomainRegister({
  imports: [],
  exports: [],
  service: [],
  manager: [],
  repository: [],
  provider: [],
  entity: [],
})
export class {{ upperName }}Domain {}