import { ArgumentMetadata, Injectable, PipeTransform } from '@vodyani/core';

@Injectable()
export class {{ upperName }}Pipe implements PipeTransform<any> {
  public async transform(value: any, argument: ArgumentMetadata) {
    // do something ...

    return value;
  }
}