import { Request, Response } from 'express';
import { Catch, HttpException, ExceptionFilter, ArgumentsHost } from '@nestjs/common';

@Catch()
export class {{ upperName }}ExceptionFilter implements ExceptionFilter {
  public catch(exception: HttpException, host: ArgumentsHost) {
    const ctx = host.switchToHttp();
    const request = ctx.getRequest<Request>();
    const response = ctx.getResponse<Response>();

    // response
    //   .status() // status code
    //   .json(); // data
  }
}
