import { Method } from '@vodyani/utils';
import { createParamDecorator, ExecutionContext } from '@vodyani/core';

// controller decorator
export const User = createParamDecorator((data: any, ctx: ExecutionContext) => {
  const request = ctx.switchToHttp().getRequest();
  const user = request.user;

  return data ? user && user[data] : user;
});

// function decorator
export function {{ upperName }}(target: any, property: string, descriptor: TypedPropertyDescriptor<Method>) {
  const method = descriptor.value;

  descriptor.value = function(...args: any[]) {
    // do something ...
    return method.apply(this, args);
  };

  return descriptor;
}