import { Request } from 'express';
import { Injectable, NestInterceptor, ExecutionContext, CallHandler } from '@nestjs/common';

import { responseIntercept } from '@/core/method';

@Injectable()
export class NormalInterceptor implements NestInterceptor {
  public intercept(ctx: ExecutionContext, next: CallHandler) {
    const request: Request = ctx.switchToHttp().getRequest();

    return responseIntercept(next, (body: any) => {
      // do something

      return body;
    });
  }
}
