import { Injectable, CanActivate, ExecutionContext } from '@nestjs/common';

@Injectable()
export class {{ upperName }}Guard implements CanActivate {
  canActivate(ctx: ExecutionContext) {
    const request = ctx.switchToHttp().getRequest();

    // do something ...
    return result
  }
}
