import { FixedContext, ProviderFactory } from '@vodyani/core';

export class {{ upperName }}Manager implements ProviderFactory {
  public static token = Symbol('{{ upperName }}Manager');

  constructor(
    // private readonly options: any,
  ) {
    return {
      inject: [],
      provide: {{ upperName }}Manager.token,
      useFactory: this.useFactory,
    };
  }

  @FixedContext
  private async useFactory() {
    // do something ...
  }
}