import { map } from 'rxjs';
import { Injectable, NestInterceptor, ExecutionContext, CallHandler } from '@vodyani/core';

import { Req, Res } from '@/core/common';

@Injectable()
export class NormalInterceptor implements NestInterceptor {
  public intercept(ctx: ExecutionContext, next: CallHandler) {
    const request = ctx.switchToHttp().getRequest<Req>();
    const response = ctx.switchToHttp().getResponse<Res>();

    return next.handle().pipe(map(result => {
      // do something

      return result;
    }));
  }
}
