import { Catch, HttpException, ExceptionFilter, ArgumentsHost } from '@nestjs/common';

import { Req, Res } from '@/core/common';

@Catch()
export class {{ upperName }}ExceptionFilter implements ExceptionFilter {
  public catch(exception: HttpException, host: ArgumentsHost) {
    const ctx = host.switchToHttp();
    const request = ctx.getRequest<Req>();
    const response = ctx.getResponse<Res>();

    // response
    //   .status() // status code
    //   .json(); // data
  }
}