import { This } from '@vodyani/class-decorator';
import { AsyncInjectable, AsyncProvider, AsyncProviderFactory, InjectionToken, OptionalFactoryDependency } from '@nestjs/common';

@AsyncInjectable
export class {{ upperName }}Manager extends AsyncProvider implements AsyncProviderFactory {
  @This
  public create() {
    return {
      useFactory: this.useFactory,
      provide: {{ upperName }}Manager.getToken(),
      inject: [] as Array<InjectionToken | OptionalFactoryDependency>,
    };
  }

  @This
  private async useFactory() {
    // do something ...
  }
}